@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="login-page">
        <div class="login-header">
            <h1>REGISTER</h1>
        </div>
        <div class="form">
            <form asp-action="Register" asp-controller="Coaches" method="post" class="login-form">
                <input type="text" placeholder="email" name="email" />
                <input type="text" placeholder="name" name="name" />
                <input type="text" placeholder="surname" name="surname" />
                <input type="text" placeholder="username" name="username" />
                <input type="password" placeholder="password" name="password" />
                <input type="password" placeholder="Confirm password" name="confirmPassword" />
                <button>Register</button>
                <p class="message">Go to login page => <a href="#">Login page</a></p>
            </form>
        </div>
    </div>

</body>
</html>