@model IEnumerable<string>

@{
    ViewData["Title"] = "Training Programs";
    string userId = ViewData["UserId"] as string;
}

<h1 style="color: white;">Training Programs for @userId</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<table style="margin-top: 7%;" class="table">
    <thead>
        <tr>
            <th style="color: black;">Program Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var programName in Model)
        {
            <tr>
                <td style="color: black;">
                    <a style="color: black;" href="@Url.Action("ProgramDetails", "Coaches", new { userId = userId, programId = programName })">@programName</a>
                </td>
            </tr>
        }
    </tbody>
</table>